:root {
    --color-titulo: #11d8d8;
    --color-fondo: #222;
    --font-base: Arial, sans-serif;
}

body {
    background-color: var(--color-fondo);
    color: #ffffff;
    font-family: var(--font-base);
    font-size: 30px;
    padding: 30px;
}

ul {
    list-style-type: none;
}

p {
    font-size: 20px;
    text-align: justify;
}

#introduccion p:first-letter {
    font-size: 50px;
}

input {
    padding: 8px;
    font-size: 15px;
}

h2 {
    color: var(--color-titulo);
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: -25px;
}

header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 20px;
}

header ul li a:hover {
    color: rgb(255, 0, 0);
}

.fuente {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.fuente:hover {
    color: orange;
    text-decoration: overline;
}

.fuente:visited {
    color: rgb(255, 6, 180);
}

h1 {
    color: var(--color-titulo);
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

a {
    color: var(--color-titulo);
    text-decoration: none;

}

label {
    font-size: 20px;
}

span {
    font-size: 20px;
}

select {
    font-size: 20px;
}

option {
    font-size: 20px;
}

@media(width<600px) {
    p {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }
}

@media(width>=600px) {
    p {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }
}

@media(width>1280px) {
    p {
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }
}

.menu {
    display: flex;
    flex-direction: row-reverse;
}

.orden {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.articulo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#chatgpt,
#copilot,
#gemini {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

#chatgpt p:first-letter,
#copilot p:first-letter,
#gemini p:first-letter {
    font-size: 40px;

}
#chatgpt:hover,
#copilot:hover,
#gemini:hover {
    transform:scale(1.2);
    transition:transform 2s ease;
}
